//Variables
$website-width: 800px;

$textColorLight: #97b7d8;
$textColorDark: #172540;
$dominantColor: #b97637;
$complementaryColor: #fecd7d;
$uiColor: #172540;
$backgroundColor: #4177a1;

$UIfont: 'Arial';

//color pallete: https://colorpalettes.net/color-palette-2563/