@import "config";
@import "utilities";
@import "media";

/*General styles*/
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: $UIfont;
  color: $textColorLight;
  line-height: 1.6;
  background: $backgroundColor;
}

.p05 {
  padding: 0.5rem;
}

.p1 {
  padding: 1rem;
}

.p2 {
  padding: 2rem;
}

.p3 {
  padding: 3rem;
}

.my-1 {
  margin-top: 10px;
  margin-bottom: 10px
}

.my-2 {
  padding-top: 20px;
  padding-bottom: 20px
}

//Page headline
#page-headline {
  margin: 0 auto;
}

//Conversion analysis
#conversionAnalysis {
  display: flex;
  flex-direction: column;

  .ratioSection {
    display: flex;
    flex-direction: column;

    label {
      font-weight: 600;
    }
  }

  #conversionRateSection {
    display: flex;
    flex-direction: row;

    #exchangeRatio {
      margin-left: 10px;

      .currency-flag {
        margin-left: 5px;
      }
    }
  }

  #conversionAnalysisGraphs {
    display: flex;

    .graphContainer {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;

      label {
        width: 2rem;
      }
    }


    .ratioGraph {
      height: 1rem;
      width: 1px;
      background: $dominantColor;
      margin-left: 10px;
      transition: width 3s;
    }
  }


}


//Main convert button
#convert-button {
  display: block;
  margin: 1rem auto;
  font-size: 1rem;
  font-weight: 700;
  background-color: $complementaryColor;
}