@import "config";
@import "utilities";

/*General styles*/
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: $UIfont;
  color: $textColorLight;
  line-height: 1.6;
  background: $backgroundColor;
}